@font-face {
  font-family: 'AlphaKind';
  src: url('/assets/fonts/alphakind/Alphakind.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.title {
  font-family: 'AlphaKind', sans-serif;
  font-size: 2.5rem;
  color:black;
  margin: 0;
  transition: transform 0.3s ease;
}

.custom-gradient-bg {
  --background: linear-gradient(
    125deg,
    #fffaf5,
    #fff5ec,
    #ecd7ca,
    #fff0e5
  );
}

.profile-card {
  position: relative;
  background: linear-gradient(120deg, #f3f8eb, #b9c5a5); 
  border-radius: 20px;
  padding: 80px 20px 20px;
  text-align: center;
  width: 300px;
  margin: 100px auto 50px;
  box-shadow: 0 0 12px rgba(0,0,0,0.2); 
}

.profile-pic {
  position: absolute;
  top: -60px; 
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover; 
  border: 6px solid white; 
  background: #fff; 
}

.profile-info h3 {
  margin-top: 10px;
  font-weight: bold;
}

.profile-info p {
  margin: 4px 0;
}

.profile-info h4 {
  margin-top: 10px;
}

.profile-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile-info ul li {
  margin: 3px 0;
}

.social-links p {
  margin: 4px 0;
}

.social-links a {
  text-decoration: none;
  color: black;
}

.card-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 15px;
}

.skills {
  text-align: left;
}

.skills h4 {
  margin-bottom: 5px;
}

.skills ul {
  list-style: disc;       /* show bullet points */
  padding-left: 20px;     /* indent bullets */
  margin: 0;
}

.skills ul li {
  margin: 3px 0;
}

.social-links {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-links a {
  font-size: 24px;
  color: #000;
}