<ion-app>
  <ion-menu *ngIf="!isLoginPage" contentId="main-content" side="start" menuId="main-menu">
    <ion-content>
      <div class="menu-header">
        <img src="assets/logo.png" alt="logo" class="menu-avatar" />
        <h2>Sip and Drips.</h2>
        <p>Shop</p>
      </div>

      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-item routerLink="/dashboard">
            <ion-icon slot="start" name="home-outline"></ion-icon>
            <ion-label>Dashboard</ion-label>
          </ion-item>

          <ion-item routerLink="/shop">
            <ion-icon slot="start" name="bag-handle-outline"></ion-icon>
            <ion-label>Shop</ion-label>
          </ion-item>

          <ion-item routerLink="/wishlist">
            <ion-icon slot="start" name="heart-outline"></ion-icon>
            <ion-label>Wishlist</ion-label>
          </ion-item>

          <ion-item routerLink="/notifications">
            <ion-icon slot="start" name="notifications-outline"></ion-icon>
            <ion-label>Notifications</ion-label>
          </ion-item>

          <ion-item routerLink="/about">
            <ion-icon slot="start" name="information-circle-outline"></ion-icon>
            <ion-label>About the App</ion-label>
          </ion-item>

          <ion-item routerLink="/developers">
            <ion-icon slot="start" name="people-outline"></ion-icon>
            <ion-label>Developers</ion-label>
          </ion-item>

          <ion-item routerLink="/settings">
            <ion-icon slot="start" name="settings-outline"></ion-icon>
            <ion-label>Settings</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

      <div class="logout-btn">
        <ion-item button (click)="logout()">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
      </div>
    </ion-content>
  </ion-menu>

  <div class="ion-page" [id]="!isLoginPage ? 'main-content' : ''">
    <ion-router-outlet></ion-router-outlet>
  </div>
</ion-app>
