.menu-header {
  display: flex;
  align-items: center;
  padding: 16px;
}

.menu-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 16px;
}

.logout-btn {
  margin-top: auto;
  padding: 16px;
}